---
import "@/styles/contact.css";

import BaseLayout from "@/layouts/BaseLayout.astro";

import SocialMedia from "@/components/SocialMedia.astro";

import { useTranslations } from "@/i18n/utils";
import type { translations } from "@/i18n/utils";

const { lang } = Astro.params;

const t = useTranslations(lang as keyof typeof translations).contact;
---

<BaseLayout>
    <main class="wrapper contactMessageContent">
        <h1>{t.success.title}</h1>
        <div
            style={{ display: "flex", flexDirection: "column", gap: "2.5rem" }}
        >
            <p>
                {t.success.subtitle}
            </p>
            <h4 style={{ textAlign: "center" }}>{t.success.opposite}</h4>
            <p>
                {t.success.check_social}
                <br />
                {t.success.by_the_way}
                <span style={{ fontSize: "1rem" }}>
                    ({t.success.addendum})
                </span>, {t.success.dm_me}
            </p>
            <SocialMedia style={{ justifyContent: "center" }} />
            <h5>
                {t.success.thanks}
                <br />
                <br />
            </h5>
        </div>
        <a class="button back" href="/" style="padding: 1rem 2.5rem;"
            >{t.return_button}</a
        >
    </main>
</BaseLayout>
