---
import "@styles/blog.css";

import getTagsFromPost from "src/lib/sanity/getTagsFromPost";
import PostPreview from "@components/PostPreview.astro";

import Svg from "@jasikpark/astro-svg-loader";
import type { PostTag } from "src/lib/sanity/getTagsFromPost";

const { posts, tags } = Astro.props;

const category = Astro.url.pathname.split("/")[3];
---

<main class="blog">
    <header class="wrapper">
        <h1>Blog</h1>
        <a class="button listButton" href="/blog/list">
            <Svg
                class="icon"
                fill={"var(--primary-01)"}
                src={import("@assets/icons/bookmark.svg?raw")}
                aria-label="Bookmark icon"
            />
            My reading list
        </a>
    </header>

    <nav>
        <div class="tagsHolder wrapper scroller">
            <ul class="tags">
                <li class={`tag ${category === undefined ? "active" : ""}`}>
                    <a href="/blog">All</a>
                    <div id="selectionCircle" class="selectionCircle"></div>
                </li>
                <div class="divisor"></div>
                {
                    tags.map((tag: PostTag, index: number) => {
                        return (
                            <Fragment>
                                <li
                                    title={tag.title}
                                    class={`tag ${
                                        category === tag.title ? "active" : ""
                                    }`}
                                >
                                    <a href={`/blog/category/${tag.title}`}>
                                        #{tag.title}
                                    </a>
                                </li>
                                {index !== tags.length - 1 && (
                                    <div class="divisor" />
                                )}
                            </Fragment>
                        );
                    })
                }
            </ul>
        </div>
    </nav>

    {
        posts.length > 0 ? (
            <section id="postsContainer" class="posts wrapper">
                {posts.map((post: any) => {
                    const postTags = getTagsFromPost(tags, post.categories);
                    return <PostPreview post={post} tags={postTags} />;
                })}
            </section>
        ) : (
            <div class="empty">
                <h2>Oops! </h2>
                <h5>
                    It looks like there aren't any blog posts with this tag yet!
                </h5>
            </div>
        )
    }
</main>
