---
import "@styles/tech.css";

import AstronautDeco from "@components/AstronautDeco.astro";
import Tag from "@components/Tag.astro";

interface Props {
    experiences: Experience[];
}

import { useTranslations } from "src/i18n/utils";
import type { translations } from "src/i18n/utils";
import type { Experience } from "src/lib/types/experience";

const { lang } = Astro.params;
const { experiences } = Astro.props;

const t = useTranslations(lang as keyof typeof translations).tech;
---

<section class={`tech section wrapper`} id="tech">
    <header>
        <p>{t.up_title},</p>
        <h2>{t.title}</h2>
        <p>
            {t.subtitle}
        </p>
    </header>
    <div class="content">
        <ul id="techsList" class="techsList">
            {
                experiences &&
                    experiences.map((techSection, sectionIndex) => (
                        <li class="techSection">
                            <Tag title={techSection.id} />
                            <ul class="techs">
                                {techSection.techs &&
                                    techSection.techs.map((tech) => {
                                        const splitExperience =
                                            tech.experienceSince.split("/");

                                        const experienceDate = new Date(
                                            parseInt(splitExperience[1]),
                                            parseInt(splitExperience[0]),
                                            1,
                                            0,
                                            0,
                                            0,
                                            0
                                        ).getTime();
                                        const timeSinceExperience =
                                            Date.now() - experienceDate;
                                        const experienceInMonths =
                                            timeSinceExperience / 2592000000;
                                        const convertedExperience = Math.round(
                                            experienceInMonths > 12
                                                ? experienceInMonths / 12
                                                : experienceInMonths
                                        );
                                        const monthsOrYears =
                                            experienceInMonths > 12
                                                ? convertedExperience !== 1
                                                    ? t.units.years
                                                    : t.units.year
                                                : convertedExperience !== 1
                                                ? t.units.months
                                                : t.units.month;

                                        return (
                                            <li class="tech">
                                                <div class="techIcon">
                                                    <img
                                                        width={100}
                                                        height={100}
                                                        loading="lazy"
                                                        src={tech.icon_url}
                                                        alt={`Tech (${tech.name}) icon`}
                                                    />
                                                </div>
                                                <div class="techDescription">
                                                    <p>{tech.name} </p>
                                                    <p>
                                                        +{convertedExperience}{" "}
                                                        {`${monthsOrYears}`}{" "}
                                                        {t.experience}
                                                    </p>
                                                </div>
                                            </li>
                                        );
                                    })}
                            </ul>
                        </li>
                    ))
            }
        </ul>
        <div class="column2">
            <AstronautDeco />
            <div class="overlay"></div>
        </div>
    </div>
</section>
