---
import "@/styles/blog.css";
import Svg from "@jasikpark/astro-svg-loader";

import getTagsFromPost from "src/lib/sanity/getTagsFromPost";
import type { PostTag } from "src/lib/sanity/getTagsFromPost";

import PostPreview from "@/components/Post/PostPreview.astro";
import { getGuestFromId } from "@/api/guest";

const { posts, tags } = Astro.props;
const sortedTags = tags.sort((tagA: PostTag, tagB: PostTag) => {
    return tagA.title.localeCompare(tagB.title);
});

const guestId = Astro.cookies.get("guest.id")?.value;
const guest = await getGuestFromId(guestId);
const isLogged = guestId !== undefined;

const markedPostsSlugs = guest?.readingList.map(
    (postInList: any) => postInList.slug
);

import { useTranslations } from "@/i18n/utils";
import type { translations } from "@/i18n/utils";

const { lang, category } = Astro.params;
const t = useTranslations(lang as keyof typeof translations).blog;
---

<script>
    import { eraseCookie } from "@/utils/cookies";

    function redirectToGithub() {
        const GITHUB_URL = "https://github.com/login/oauth/authorize";
        const params = {
            client_id: import.meta.env.PUBLIC_GITHUB_CLIENT_ID,
            responseType: "code",
            scope: "user%3Aemail read%3Auser",
            state: "portfolio-test",
            allow_signup: false,
        };
        const authURL = `${GITHUB_URL}?${JSON.stringify(params)
            .replace(/["{}]/g, "")
            .replace(
                /:/g,
                "="
            ) /* isso troca caracteres até demais, inclusive os do REDIRECT_URI */
            .replace(/,/g, "&")}?redirect_uri=${
            import.meta.env.PUBLIC_GITHUB_REDIRECT_URI
        }`;
        console.log(authURL);
        window.location.href = authURL;
    }

    const loginButton = document.getElementById(
        "loginButton"
    ) as HTMLButtonElement;
    if (loginButton) {
        loginButton.addEventListener("click", redirectToGithub);
    }

    function logout() {
        eraseCookie("guest.id");
        location.reload();
    }

    const logoutButton = document.getElementById(
        "logoutButton"
    ) as HTMLButtonElement;
    if (logoutButton) {
        logoutButton.addEventListener("click", logout);
    }
</script>

<main class="blog">
    <header class="wrapper">
        <h1>{t.title}</h1>
        {
            isLogged ? (
                <div class="bookmarksContainer">
                    <a class="button" href="/blog/bookmarks">
                        <Svg
                            class="icon"
                            fill={"var(--primary-01)"}
                            src={import("@/public/icons/bookmark.svg?raw")}
                            aria-label="Bookmark icon"
                        />
                        {t.reading_list.title}
                    </a>
                    <button
                        id="logoutButton"
                        class="button"
                        style="padding-inline: 1.5rem;"
                    >
                        <Svg
                            class="icon"
                            fill={"var(--primary-01)"}
                            src={import("@/public/icons/logout.svg?raw")}
                            aria-label="Logout icon"
                        />
                    </button>
                </div>
            ) : (
                <div class="loginRequest">
                    <h6 class="subtitle" style="white-space: pre-line;">
                        {t.login.title}
                    </h6>
                    <button
                        id="loginButton"
                        class="button inverted fill"
                        style={{
                            fontSize: `1.4rem`,
                            fontFamily: "Inter Variable",
                            fontWeight: 600,
                            paddingBlock: "1rem",
                            borderRadius: "0.5rem",
                        }}
                    >
                        <Svg
                            src={import("src/assets/icons/github.svg?raw")}
                            aria-label="Github icon"
                            width={`1.8rem`}
                            height={`1.8rem`}
                        />
                        {t.login.button}
                    </button>
                </div>
            )
        }
    </header>

    <nav>
        <div id="tagsHolder" class="tagsHolder wrapper right">
            <div class="limit left"></div>
            <ul id="tagsScroll" class="tags">
                <li class={`tag ${category === undefined ? "active" : ""}`}>
                    <a style="z-index: 100;" href={`/${lang}/blog`}
                        >{t.tags.all}</a
                    >
                    <div id="selectionCircle" class="selectionCircle"></div>
                </li>
                <div class="divisor"></div>
                {
                    sortedTags.map((tag: PostTag, index: number) => {
                        return (
                            <Fragment>
                                <li
                                    title={tag.title}
                                    class={`tag ${
                                        category === tag.title ? "active" : ""
                                    }`}
                                >
                                    <a href={`/blog/category/${tag.title}`}>
                                        #{tag.title}
                                    </a>
                                </li>
                                {index !== tags.length - 1 && (
                                    <div class="divisor" />
                                )}
                            </Fragment>
                        );
                    })
                }
            </ul>
            <div class="limit right"></div>
        </div>
    </nav>

    {
        posts.length > 0 ? (
            <section id="postsContainer" class="posts wrapper">
                {posts.map((post: any, index: number) => {
                    const postTags = getTagsFromPost(
                        sortedTags,
                        post.categories
                    );
                    const hasMarked =
                        guest && markedPostsSlugs?.includes(post.slug.current);

                    return (
                        <PostPreview
                            hightPriority={index <= 5}
                            isLogged={isLogged}
                            post={post}
                            tags={postTags}
                            hasMarked={hasMarked}
                        />
                    );
                })}
            </section>
        ) : (
            <div class="empty">
                <h2>Oops!</h2>
                <h5>{t.tags.empty}</h5>
            </div>
        )
    }
</main>
